body{
    background-color: hotpink;
}
h1{
    font-weight: bold;
    text-align: right;
    font-family: 'Courier New', Courier, monospace;
    font-size: x-large;
    padding: 25px;
}
form{
    background-color: lightpink;
    text-align: center;
    margin:auto;
    width:50%;
    padding: 25px;
    height: 25%;
    border: 2px;
    border-color: purple;
    border-style: double;
    width: 400px;
}
label{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
